snippet cl
	console.log(${1:var});

snippet dc
	<div className="${1:var}">
	</div>

snippet d
	<div>

	</div>

snippet fc
	import react from 'react';

	const ${1:var} = () => {

	}

	export default ${1:var};
